.chat {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 30rem;

  ul {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 1rem;
      .user {
        padding-left: 0.5rem;
        font-size: 0.825rem;
      }
      .message {
        background-color: var(--primary);
        border-radius: 1rem;
        padding: 0.5rem;
        color: var(--body-color);
      }
    }
  }
}
