@import './components/AccountImage/accountImage.styles.scss';

.account {
  .account-winners-countdown {
    .tickets-wrapper {
      display: none !important;
    }
  }
  .address-holder-container {
    background-color: $body-bg;

    .address-holder {
      display: contents;
      .dapp-core-component__trim-styles__trim {
        max-width: fit-content;
      }
    }
  }

  .address-wrapper {
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: calc(100% - 6.25rem - 1rem);
    }
  }
  .account-address {
    &.dapp-core-component__trim-styles__trim span:not([class]),
    .dapp-core-component__trim-styles__right span,
    .dapp-core-component__trim-styles__left span,
    .dapp-core-component__trim-styles__ellipsis {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .account-details-card-body {
    background-color: $body-bg;
  }

  .tokens-section-loader {
    @extend .p-2 !optional;
  }

  .kyc-section {
    strong {
      text-align: left;
    }
    .signup-status {
      .btn {
        margin-top: -24px;
      }
    }
  }

  .token-row .token-icon {
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--neutral-800);
  }

  .announcement-timeline {
    .btn-timeline-collapse {
      --btn-padding-y: 0.5rem;
    }
    .rah-animating,
    .rah-static--height-specific {
      &:after {
        background: linear-gradient(
          180deg,
          rgba(var(--card-bg-rgb), 0) 0%,
          rgba(var(--card-bg-rgb), 100) 100%
        );
      }
    }
    .timeline-wrapper {
      font-size: 0.925rem;
    }
  }

  .btn-initial-claim {
    margin-left: auto;
    margin-right: auto;
    --btn-padding-x: 3.5rem;
  }

  .project-image {
    border-radius: 1.5rem;
    overflow: hidden;
  }
}
