@import './components/AccountImage/accountImage.styles.scss';

.account {
  .address-holder-container {
    background-color: $body-bg;

    .address-holder {
      display: contents;
      .dapp-core-component__trim-styles__trim {
        max-width: fit-content;
      }
    }
  }

  .address-wrapper {
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: calc(100% - 6.25rem - 1rem);
    }
  }
  .account-address {
    &.dapp-core-component__trim-styles__trim span:not([class]),
    .dapp-core-component__trim-styles__right span,
    .dapp-core-component__trim-styles__left span,
    .dapp-core-component__trim-styles__ellipsis {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .wallet-overview-token-list {
    max-height: 18rem;
    overflow-y: scroll;
  }

  .token-row .token-icon {
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--neutral-800);
  }
}
