@import './components/UserButton/userButton.styles.scss';
@import './components/UserAddress/userAddress.styles.scss';

.header-new {
  @import './components/UserMenu/userMenu.styles.scss';

  --nav-link-color: var(--neutral-400);
  --nav-link-hover-color: var(--neutral-100);

  position: fixed;
  z-index: 1050; // onfido has 1000
  top: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: var(--header-wrapper-height);

  .header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .header-container {
    height: var(--header-navbar-height);
  }

  background: rgba(0, 0, 0, 1);
  @include media-breakpoint-up(md) {
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: rgba(0, 0, 0, 0.65);
      -webkit-backdrop-filter: blur(0.375rem);
      backdrop-filter: blur(0.375rem);
    }
  }

  // Links
  .header-menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--font-headings-regular);
    display: flex;
    align-items: center;
    gap: 1.75rem;
    font-size: 1rem;
    color: var(--neutral-100);

    .nav-item.active {
      --nav-link-color: var(--neutral-100);
    }
    .header-menu-item {
      --link-color: var(--neutral-400);
      --link-hover-color: var(--neutral-100);
      &.active {
        --link-color: var(--neutral-100);
      }
    }

    .dropdown-toggle {
      &.show {
        svg.fa-angle-down {
          transform: rotateZ(180deg);
          transition: transform 0.125s ease-out;
        }
      }
      &:after {
        display: none;
      }
    }
  }

  .header-start {
    display: flex;
    flex: 1 1 auto;
    gap: 3rem;
  }

  // Dropdown {

  .dropdown-menu {
    --dropdown-spacer: 0.5rem;
    --dropdown-bg: var(--neutral-950);
    --dropdown-border-color: var(--neutral-800);
    --dropdown-padding-x: 0.5rem;
    --dropdown-padding-y: 0.5rem;
    --dropdown-border-radius: 1rem;
  }

  // Logo
  .header-logo {
    display: flex;
    gap: 1rem;
    align-items: center;

    svg {
      height: 2rem;
      width: 2rem;
    }
    span {
      font-family: var(--font-headings-regular);
      font-size: 2rem;
    }
  }

  .header-large-link {
    min-width: 15.625rem;
    min-height: 6.25rem;
    flex-wrap: nowrap;
  }

  // Mobile Menu
  .header-navigation-trigger {
    width: 40px;
    height: 32px;
    margin-right: -8px;
    position: relative;

    .header-navigation-bars {
      width: 20px;
      height: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .header-navigation-bar {
        display: block;
        position: absolute;
        height: 1px;
        width: 20px;
        background-color: var(--neutral-500);
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        top: calc(8px - (1px / 2));

        &:first-child {
          top: 0;
        }

        &:last-child {
          top: calc(16px - 1px);
        }
      }

      &.active .header-navigation-bar {
        opacity: 0;
        left: 100%;

        &:first-child {
          left: 0;
          opacity: 1;
          top: calc(8px - (1px / 2));
          transform: rotate(-135deg);
        }

        &:last-child {
          top: calc(8px - (1px / 2));
          transform: rotate(135deg);
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}

.header-new,
.offcanvas {
  // Links

  .adopters-links,
  .builders-links,
  .other-links {
    display: flex;
    gap: var(--links-gap);
    .small-list {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding-right: 0.5rem;
      margin-right: 1rem;
      p,
      a {
        width: max-content;
      }
      & + .small-list {
        margin-right: 3rem;
      }
    }
  }

  .builders-links,
  .other-links {
    flex-wrap: wrap;
    gap: 1rem;
    @include media-breakpoint-up(xl) {
      flex-wrap: nowrap;
      gap: 3rem;
    }
  }

  .header-large-link {
    --dropdown-link-color: var(--white);
    --dropdown-item-padding-y: 0.75rem;
    --dropdown-item-padding-x: 0.75rem;

    white-space: initial;
    background-color: var(--neutral-900);
    font-family: var(--font-headings-regular);
    display: flex;
    padding: 0.75rem 0.5rem;
    gap: 1rem;
    border-radius: 1rem;

    &.active {
      background-color: var(--neutral-850);
    }
    &:hover {
      background-color: var(--neutral-800);
    }

    .header-ll-title {
      font-size: 1rem;
      font-family: var(--font-headings-semibold);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .svg-inline--fa {
        font-size: 1rem;
      }
    }
    .header-ll-body {
      font-size: 0.75rem;
      color: var(--neutral-400);
    }
    & > .svg-inline--fa {
      font-size: 2rem;
      align-self: flex-start;
      padding-top: 0.125rem;
    }
  }

  .header-small-link {
    --dropdown-link-color: var(--white);
    --dropdown-item-padding-y: 0;
    --dropdown-item-padding-x: 0;
    color: var(--white);
    font-size: 1rem;
    font-family: var(--font-headings-semibold);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: unset;
    &.active {
      color: var(--primary);
      &:hover {
        color: var(--primary-500);
      }
    }
    &:hover {
      color: var(--primary);
    }
  }

  .social {
    gap: 1rem;
    font-size: 1.5rem;
  }

  .header-menu-disconnect {
    //position: sticky;
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
    //border-radius: 50%;
    //margin-top: 1rem;
    //top: 100%;
    //background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-400);
    &:hover {
      color: var(--primary);
      fill: var(--primary);
    }
  }
}

.menu-offcanvas,
.menu-offcanvas-backdrop {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

// OFFCANVAS
.menu-offcanvas-backdrop {
  @include media-breakpoint-down(md) {
    opacity: 0 !important;
  }
}
.menu-offcanvas {
  top: var(--header-wrapper-height) !important;
  --offcanvas-border-width: 0;
  --offcanvas-bg: var(--body-bg);

  @include media-breakpoint-down(sm) {
    --offcanvas-width: 100%;
  }

  .adopters-links,
  .builders-links,
  .other-links {
    flex-wrap: wrap;
  }

  .btn-close {
    padding: 0.5rem;
    margin-left: auto;
  }
  .offcanvas-header {
    padding-top: 2rem;
  }
  .accordion-button {
    font-size: 1rem;
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    --offcanvas-padding-x: 0;
    .accordion {
      --links-gap: 1rem;

      --accordion-btn-color: var(--neutral-400);
      --accordion-active-color: var(--neutral-100);
      --accordion-inner-border-radius: 0;
      --accordion-border-radius: 0;
      --accordion-body-padding-y: 0.5rem;
      --accordion-active-bg: var(--neutral-950);
      --accordion-bg: var(--neutral-950);
      --accordion-btn-bg: var(--offcanvas-bg);
    }
    .accordion-button {
      &:hover {
        --accordion-btn-color: var(--neutral-100);
      }
    }
    .menu-item {
      --link-color: var(--neutral-400);
      --link-hover-color: var(--neutral-100);
      &.active {
        --link-color: var(--neutral-100);
      }

      padding: 1rem 1.25rem;
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 500;
    }
  }
}
